body{
  font-size: 16px;
  background-color: #FCF0EB;
  font-family: 'Maven Pro', sans-serif;
}
nav{
  border-bottom:1px lightgray solid;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.green {
  background: green;
  color: red;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #fef0ea;
}
.navbar-brand{
  border: 1px solid #495057;
  padding: 0 .6rem;
  width:5.5%;
  overflow:hidden;
}
.navbar-brand .row{
  height: .6rem;
  margin-right:1rem;
  opacity: .7;
  visibility:hidden;
}
#logo-text{
  position: absolute;
  color:#495057;
  margin: 1.1% 0;
  z-index: 2;
  font-size:1.5rem;
}
.logo-holder{
   width: 7rem;
}
#darkblue{
  background:darkblue;
}
#blue{
  background:blue;
}
#lightblue{
  background:lightblue;
}
#purple{
  background:purple;
}
#lightred{
  background:pink;
}
#red{
  background:red;
}
#darkred{
  background:darkred;
}
.nav-link:hover{
  color:#6700FF;
}
.active{
  text-decoration:underline;
}
/* NAV - ACCOUNT */
.dropdown-menu{
  min-width: 15rem;
}
#form-item{
  margin:4% auto 6%;
  padding:0;
}
.form-btns{
  display:flex;
  justify-content:center;
}
.form-btn{
  height:2rem;
  font-size:.8rem;
  margin: 0 6%
}
/*NAV - SAVED ARTICLES*/
.saved-caret::after{
  display:none;
}
#saved-article-note{
    display: flex;
    margin: .5rem;
    text-align: center;
}
.header {
  padding-top: 10%;
}
/* HEADER */
.header.row{
 margin:0;
}
.desk-logo{
  font-size:7rem;
}
#filtercol{
 color: #101493;
}
.filter-box{
  height: 8.5rem;
}
.filter-box ul{
  list-style:none;
}
.mobile-filters{
  display:none;
}
/* CHECKBOXES */
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
/*     color:#101493; */
}

input[type="checkbox"] + label span {
    display:inline-block;
    width: 30px;
    height: 30px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:transparent;
    border:1px solid #101493;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:#101493;
}
/* FADE BOX OPTIONS */
.fade-box{
  border:1px #343436 solid;
}
.fade-box-mobile{
  display:none;
}
.instructions-line{
  display: none;
}
/* BIAS Lines */
.bias{
  writing-mode: vertical-rl;
  text-orientation: sideways;
  padding-bottom: 13%;
  color: #101493;
  font-size: .9rem;
}
.bias-lib{
  transform: rotate(180deg);
}
.bias-con{
  padding-bottom:23%;
}
.fade-check{
  height: 2.5rem;
  margin: 1.5px;
  padding:0;
}
.fade-check button{
  border:none;
  width:100%;
  height: 2.5rem;

}

 button.is-checked:focus {
  border: 3px solid gold;
  outline: none;
}
/* FADE COLORS */
#red1 {
  background: magenta;
  color: magenta;
}
#red2 {
  background: red;
  color:red;
}
#red3 {
  background: darkred;
  color: darkred;
}
#red4 {
  background: #5E161E;
  color: #5E161E;
}

#purple1 {
  background: purple;
  color: purple;
}

#blue1 {
  background: lightblue;
  color: lightblue;
}
#blue2 {
  background: #6E00ED;
  color: #6E00ED;
}
#blue3 {
  background: blue;
  color: blue;
}
#blue4 {
  background: #22008D;
  color: #22008D;
}
/* SORT BUTTON */
.sort-btn {
  width: 30%;
  margin: 2.5rem auto;
  font-size:1.3rem;
}
/* MAIN */
.grid {
  border: 1px solid #333;
  padding:0;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}



.element-item {
  border:black 1px solid;
  padding: 0;
  height: 300px;
}
.card {
  background-color: transparent;
  color: black;
  text-decoration: none;
}
/* MAIN - SHADES */
.card-image {
  opacity: .35;
}
img {
  height: 300px;
  width: 100%;
}
.article-text{
  bottom: 10%;
  position: absolute;
  left: 11%;
  width: 75%;

}
.fa {
  margin: 1%;
}
.sourceDisplay{
  border: 1px solid black;
  padding: 1%;
  margin: 0;
}
.red1Link{
  background: pink;
  background-repeat: no-repeat;
  background-size: cover;
}
.red1Link a {
  color:black;
}
.red2Link{
  background: red;
  background-repeat: no-repeat;
  background-size: cover;
}
.red2Link a {
  color:black;
}
.red3Link{
  background: darkred;
  background-repeat: no-repeat;
  background-size: cover;
}
.red3Link a {
  color:white;
}
.red4Link{
  background: darkred;
  background-repeat: no-repeat;
  background-size: cover;
}
.red4Link a {
  color:white;
}
.purpleLink{
  background: purple;
  background-repeat: no-repeat;
  background-size: cover;
}
.purpleLink a {
  color:white;
}
.blue1Link{
  background: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
}
.blue1Link a {
  color:black;
}
.blue2Link{
  background: blue;
  color:white;
  background-repeat: no-repeat;
  background-size: cover;
}
.blue2Link a {
  color:white;
}
.blue3Link{
  background: darkblue;
  background-repeat: no-repeat;
  background-size: cover;
}
.blue3Link a {
  color:white;
}
.blue4Link{
  background: #0c1f6d;
  background-repeat: no-repeat;
  background-size: cover;
}
.blue4Link a {
  color:white;
}





/* EMAIL LINE */
.holder{
  margin-top:3%;
  z-index:2;
  position: absolute;
  display:inline-flex;
  width:100%;
}
.emailer{
  border:3px solid black;
}
.emailer span{
  font-size:1.8rem;
}
.form-control {
    background: transparent;
    border: none;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid black;
    border-radius: 0;
}
.form-control:focus{
  background:transparent;
  box-shadow: none;
}
::-webkit-input-placeholder { color: #666;}
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }
#email-button{
    border:3px solid black;
    background:none;
    height: 7rem;
    width: 5rem;
  }
#email-button:hover{
    background-color:lightgray;
}
.btn .fa{
  font-size: 5.5rem;
}
.background-div{
  height: 12rem;
  margin: 0;
}
.form-control:after{
  background:none;
}
.background-div-lightblue{
  background: #4600FF;
  opacity:.6;
}
.background-div-purple{
  background: #4F00CF;
  opacity:.6;
}
.background-div-magenta{
  background: #90007F;
  opacity:.6;
}
.background-div-peach{
  background: #C50044;
  opacity:.6;
}
.background-div-red{
  background: #FC0000;
  opacity:.6;
}
/* FOOTER  */
.footer-logo h2 {
    font-size:3.7rem;
}
.footer-logo .row{
  justify-content: center;
}
.footer-links {
  margin: 0;
}
.contact-ads {
  list-style:none;
  display:inline-flex;
  color: #073791;
  }
.contact-ads a{
  font-size:1rem;
  margin: 0 1rem;
  color: #073791;
}
.contact-ads li:first-child {
  border-right:1px solid #073791;
}
.footer-head {
    font-size: 1.5rem;
    color: #073791;
    border-bottom: 1px solid;
    border-radius: 0;
  }
  .footer-links a {
    font-size: 1.1rem;
    color: #6c757d;
}
.footer-copyright span{
  color:#073791;
}
.ball{

  height: 3.2rem;
  width: 3.2rem;
  margin: .2rem .2rem;
}
.ball1{
  transform: rotate(90deg);
}
.ball2{
  transform: rotate(180deg);
}
.ball3{
  transform: rotate(0deg);
}
.ball4{
  transform: rotate(270deg);
}

.footer-copyright-row{
    border-top: 1px lightgray solid;
  }
  /* MOBILE */
  @media only screen and (min-width:360px) and (max-width:420px) {
    body{
      font-size: 16px;
      background-color: #FCF0EB;
      font-family: 'Maven Pro', sans-serif;
    }
    .navbar{
      height: 3.5rem;
      padding:0 0 1%;
    }
    .navbar button{
      margin-left: 3%;
      margin-top: 2%;
    }
    .navbar button:hover { outline: 0 !important }
    .logo-row{
      display: none;;
    }
    .navbar-brand{
      width: 22.5%;
      padding:0;
    }
    .logo-holder{
       width: 100%;
      justify-content: center;
      display: flex;
      padding: 0;
    }
    #logo-text{
      position: relative;
      border:none;
    }
    .navbar-nav{
      padding-left: 2%;
    }
    .header{
      padding-top: 15%;
      margin-bottom: 0;
    }
    #login{
      font-size:1.3rem;
      font-weight:50;
    }
    .header h1 {
      font-size:3.5rem;
      margin:2.5rem 0 0;
      font-weight: 800;
    }

    .button-group{
      width:100%;
    }
  /*  SLIDER METER + SORT BUTTON - NOT IN USE  */
    .mobile-sort-btn {
      width: 40%;
      margin: 1.5rem auto;
    }
    .row{
      margin: 0;
    }
    .mobile-filters{
      display:inline-flex;
      justify-content: space-around;
      width: 100%;
      padding:0;
    }
    .desktop-filters{
      display:none;
    }
    input {

     outline:none;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 3.5rem;
      width: 1.5rem;
      background: gold;
      cursor: pointer;
      margin-top: -12px;
      margin-bottom: 15px;
    }
    .bias{
      display: none;
    }
    #instructions-line-2 {
      font-size: 1rem;
      z-index: 1;
      margin: 1rem auto;
      color: #290095;
  }

    #instructions-line-2:before {
      border-bottom: 2px solid #290095;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      width: 95%;
      z-index: -1;
    }

    #instructions-line-2 span {
        /* to hide the lines from behind the text, you have to set the background color the same as the container */
        background: #FEF0EB;
        padding: 0 15px;
    }

    #instructions-line {
      font-size: 1rem;
      z-index: 1;
      margin: 1rem auto;
      color: #290095;
  }

    #instructions-line:before {
      border-bottom: 2px solid #290095;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 81px;
      width: 95%;
      z-index: -1;
    }

    #instructions-line span {
        /* to hide the lines from behind the text, you have to set the background color the same as the container */
        background: #FEF0EB;
        padding: 0 15px;
    }

  /*  FADE BOX METER  */
    .fade-box-mobile{
      display:flex;
    }
    .filter-box{
      height: 4rem;
      width: 100%;
    }
    .filter-box .row{
      justify-content:center;
    }
    .fade-box{
      display:none;
    }
    .fade-box-mobile{
    margin:0;

    }
    .fade-check{
      margin:0;
      border:none;
      height: 3.5rem;
  }
    /* .fade-check button:hover { outline: 2px gold solid } */


    .fade-check button{
      height:3.5rem;
      padding:0;
    }
    /*MAIN*/
    #main {
        border: 1px solid #000000;
        display: flex;
        flex-direction: column;
        z-index:1;
    }

    .subline{
      background: black;
      margin-top:2rem;
    }
    .email-line{
      display:none;
    }

    /* Footer */
    .footer-content{
      padding: 4% 0 3%;
    }
    .ball{
      display: none;
    }
    .right-foot-box {
      padding-left: 0;
    }
    .contact-ads {
      list-style: none;
        display: inline-flex;
        margin: 0;
        padding: 0;
      }
    .contact-ads a {
      font-size:.75rem;
    }

    .footer-logo h2 {
      font-size:2.7rem;
  }
    .footer-copyright{
      width: 100%;
      margin: 0;
      height: 50px;

    }
    .footer-copyright span{
      font-size: .75rem;
    }
    .footer-links {
      padding-left: 15%;
    }
    .footer-links a{
      color: #34353F;
      font-size:.8rem;
    }
  }
